<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross" version="5.6.3" targetFramework="monoandroid81" />
  <package id="MvvmCross.Binding" version="5.6.3" targetFramework="monoandroid81" />
  <package id="MvvmCross.Core" version="5.6.3" targetFramework="monoandroid81" />
  <package id="MvvmCross.Droid.Support.Fragment" version="5.6.3" targetFramework="monoandroid81" />
  <package id="MvvmCross.Droid.Support.V7.RecyclerView" version="5.6.3" targetFramework="monoandroid81" />
  <package id="MvvmCross.Platform" version="5.6.3" targetFramework="monoandroid81" />
  <package id="MvvmCross.Plugin.Visibility" version="5.6.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Annotations" version="25.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Compat" version="25.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Fragment" version="25.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Build.Download" version="0.4.3" targetFramework="monoandroid81" />
</packages>